/* NAVBAR */

.nav-logo {
  color: blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.navbar {
  background-color: transparent;
}

.nav-word.active {
    color:blue;
}

.nav-word {
    color:black;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: blue;
}

.nav-container {
  margin-bottom: 50px;
}

/* PRESETS */

.hr {
  border-top: 3px solid #000CFF;
}

/* HOME-PROJECTS  */

.projects {
  /* margin-bottom: 50px; */
}

.work-container {
  /* margin-bottom: 50px; */
}

/* TEXT */

.intro-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.inline-link {
  text-decoration: none;
}

#selected-projects {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 25px;
}

.study-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
  padding-top: 100px;
}

.study-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.study-details {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

.study-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: black;
  padding-top: 50px;
  padding-bottom: 20px;
}

.body-p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.body-popout {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  color: green;
}

.body-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
}

#question {
  color: blue;
}
/* IMAGES */

.project-tile {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px gray;
}

.project-tile:hover {
  width: 51%;
  box-shadow: 0 0 3px 2px blue;
}

#bigger {
  width:75%;
}

.overview {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


.hero {
  background-color: black;
  height: 500px;
  margin-bottom: 50px;
}

.hero.c2k {
  background-color: blue;
  height: 500px;
  margin-bottom: 50px;
}

.pdf {
  width: 50%;
}





/* .projects {
  margin-top: 30px;
  padding: 50px;
} */

/* FOOTER */

.footer {
  display: block;
  padding-top: 30px;
}

.footer-header {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}

.footer-elements {
  text-align: center;
  padding: 0px 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

}

.contact {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0px 10px;
}

.indiv {
  color: #414141;
  text-decoration: none;
}

.indiv:hover {
  color:blue;
}

.individual-contact {
  color: #414141;
